/* CSS file */
Application
{
	themeColor: #b3b3b3;
	
   
	
}


.HeadingText 
{
   fontFamily: Verdana;
   fontSize: 22;
   color: #8DF089;
   fontWeight: bold;
   textAlign: left;
   borderStyle: none;
   borderColor: #ffffff;
   dropShadowEnabled: false;

}

.HeaderText 
{
   fontFamily: Verdana;
   fontSize: 30;
   color: #8DF089;
   fontWeight: bold;
   textAlign: left;
   borderStyle: none;
   borderColor: #ffffff;
   dropShadowEnabled: false;

}

.linkButtonText
{
   fontFamily: Verdana;
   fontSize: 16;
   color: #8DF089;
   fontWeight: bold;
   textAlign: left;
   borderStyle: none;
   borderColor: #ffffff;
   dropShadowEnabled: false;

}

.labelText 
{
   fontFamily: Verdana;
   fontSize: 12;
   color: #8DF089;
   textAlign: left;
   borderStyle: none;
   borderColor: #ffffff;
   dropShadowEnabled: false;

}
.statusText 
{
   fontFamily: Verdana;
   fontSize: 12;
   color: #8DF089;
   textAlign: left;
   borderStyle: none;
   borderColor: #ffffff;
   dropShadowEnabled: false;

}

Panel {
    color:                         #FFFFFF;
    border-alpha:                 0.8;
    border-color:                 "#002255 #002255 #001144 #001144";
    border-width:                 "10px 30px 10px 10px";
    border-top-right-radius:     24px;
    border-bottom-left-radius:     24px;
    border-top-left-radius:     24px;
    border-bottom-right-radius:     24px;
    background-image:             HOUSE;
    background-repeat:             stretch;
    background-position:          center;
    background-blend:             normal;
    asset-class:                 ClassReference("assets.AssetsFile");
    borderSkin:                 ClassReference("com.degrafa.skins.CSSSkin");
}